<template>
  <div class="app-container">
    <el-form :inline="true" :model="form" class="demo-form-inline">
      <el-form-item label="部门号">
        <el-input v-model="form.did"></el-input>
      </el-form-item>
      <el-form-item label="部门名">
        <el-input v-model="form.dname"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onSearch">查询</el-button>
      </el-form-item>
      <el-form-item>
        <el-button type="danger" @click="onDeleted">删除选中</el-button>
      </el-form-item>
    </el-form>


    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
      @selection-change="handleSelectionChange"
    >
      <el-table-column
        type="selection"
        width="55">
      </el-table-column>
      <el-table-column align="center" label="部门号" width="95">
        <template slot-scope="scope">
          {{ scope.row.did }}
        </template>
      </el-table-column>
      <el-table-column label="部门名">
        <template slot-scope="scope">
          {{ scope.row.dname }}
        </template>
      </el-table-column>
      <el-table-column label="备注" width="110" align="center">
        <template slot-scope="scope">
          {{ scope.row.dremark }}
        </template>
      </el-table-column>
      <el-table-column
        fixed="right"
        label="操作"
        width="100">
        <template slot-scope="scope">
          <el-button @click="handleDeleteDept(scope.row)" type="text" size="small">删除</el-button>
          <el-button type="text" size="small" @click="handleEditDept(scope.row)" >编辑</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-divider></el-divider>
    <el-divider></el-divider>
    <div class="block">
      <el-row :gutter="20">
        <el-col :span="12" :offset="6">
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="pageNum"
            :page-sizes="[10, 30, 50, 100]"
            :page-size="pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total">
          </el-pagination>

        </el-col>
      </el-row>
    </div>


    <el-dialog title="个人信息" :visible.sync="dialogFormVisible" >
      <el-form ref="form" :model="editForm" label-width="120px">
        <el-form-item label="部门号">
          <el-input v-model="editForm.did" :disabled="true" />
        </el-form-item>
        <el-form-item label="部门名">
          <el-input v-model="editForm.dname" placeholder="请输入部门名" />
        </el-form-item>
        <el-form-item label="备注">
          <el-input v-model="editForm.dremark" />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onChangeDeptInfo">修改</el-button>
          <el-button @click="dialogFormVisible = false">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>

  </div>
</template>

<script>
import { findAllDeptByCondition,deleteDeptById,editDept,deleteManyByIdArray } from "@/api/dept";
import {Message} from "element-ui";
import FilenameOption from "@/components/Excel/components/FilenameOption";


export default {
  components: {FilenameOption},
  data() {
    return {
      filename: '',
      editForm: {
        did:'',
        dname:'',
        dremark:''
      },
      downloadLoading: false,
      multipleSelection: [],
      dialogFormVisible:false,
      total:0,
      pageSize:10,
      pageNum:1,
      list: null,
      listLoading: true,
      form:{
        did:'',
        dname:''
      }
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => {
          return v[j]
      }))
    },
    onDeleted() {
      let numberArray=[]
      this.multipleSelection.forEach(value => numberArray.push(value.did) )
      deleteManyByIdArray({did:numberArray}).then(res=>{
        Message({
          message: '删除成功！',
          type: 'success',
          duration: 2 * 1000
        })
        this.fetchData()
      })
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    onSearch() {
      findAllDeptByCondition({
        pageNum:this.pageNum,pageSize:this.pageSize,
        did:this.form.did,dname:this.form.dname
      }).then(response=>{
        const { data } = response
        this.total = data.total
        this.pageSize = data.pageSize
        this.pageNum = data.pageNum
        this.list = data.list
      })
    },
    onChangeDeptInfo() {
      editDept(this.editForm).then(res=>{
        this.$message({
          message:'修改成功',
          type:'success'
        })
        this.fetchData()
        this.dialogFormVisible = false
      })
    },
    handleEditDept(row) {
      this.editForm = row
      this.dialogFormVisible = true
    },
    handleDeleteDept(row) {
      deleteDeptById({did:row.did}).then(res=>{
        this.$message({
          message:'删除成功',
          type:'success'
        })
        this.fetchData()
      })
    },
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
      findAllDeptByCondition({
        pageNum:this.pageNum,
        pageSize:val,
      }).then(response=>{
        this.list = response.data.list
        this.pageSize = response.data.pageSize
        this.pageNum = response.data.pageNum
        this.total = response.data.total
      })
    },
    handleCurrentChange(val) {
      console.log(`当前页: ${val}`);
      findAllDeptByCondition({
        pageNum:val,
        pageSize:this.pageSize,
      }).then(response=>{
        this.list = response.data.list
        this.pageSize = response.data.pageSize
        this.pageNum = response.data.pageNum
        this.total = response.data.total
      })
    },
    fetchData() {
      this.listLoading = true
      findAllDeptByCondition({
        pageNum:this.pageNum,pageSize:this.pageSize
      }).then(response => {
        const { data } = response
        console.log(data)
        this.total = data.total
        this.pageSize = data.pageSize
        this.pageNum = data.pageNum
        this.list = data.list
        this.listLoading = false
      })
    }
  }
}
</script>
