<template>
  <div class="app-container">
    <el-form ref="form" :model="form" label-width="120px" :label-position="formPosition">
      <el-form-item label="职位">
        <el-select v-model="form.jobId" placeholder="请选择职位">
          <el-option :label="job.jname"
                     :value="job.jid"
                     v-for="job in jobList"
                     :key="job.jid"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="部门">
        <el-select v-model="form.deptId" placeholder="请选择部门">
          <el-option :label="dept.dname"
                     :value="dept.did"
                     v-for="dept in deptList"
                     :key="dept.did"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="姓名">
        <el-input v-model="form.name" />
      </el-form-item>
      <el-form-item label="银行卡">
        <el-input v-model="form.cardId" />
      </el-form-item>
      <el-form-item label="地址">
        <el-input v-model="form.address" />
      </el-form-item>
      <el-form-item label="邮政编码">
        <el-input v-model="form.postCode" />
      </el-form-item>
      <el-form-item label="手机号码">
        <el-input v-model="form.phone" />
      </el-form-item>
      <el-form-item label="家庭电话">
        <el-input v-model="form.tel" />
      </el-form-item>
      <el-form-item label="QQ号">
        <el-input v-model="form.qqNum" />
      </el-form-item>
      <el-form-item label="邮箱">
        <el-input v-model="form.email"/>
      </el-form-item>
      <el-form-item label="性别">
        <el-select v-model="form.sex" placeholder="请选择性别">
          <el-option label="女" value="女" ></el-option>
          <el-option label="男" value="男" ></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="政治面貌">
        <el-select v-model="form.party" placeholder="请选择政治面貌">
          <el-option label="团员" value="团员" ></el-option>
          <el-option label="党员" value="党员" ></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="出生日期">
        <el-date-picker
          v-model="form.birthday"
          type="date"
          placeholder="选择日期">
        </el-date-picker>
      </el-form-item>
      <el-form-item label="民族">
        <el-input v-model="form.race" />
      </el-form-item>
      <el-form-item label="学历">
        <el-select v-model="form.education" placeholder="请选择学历">
          <el-option label="初中" value="初中" ></el-option>
          <el-option label="高中" value="高中" ></el-option>
          <el-option label="本科" value="本科" ></el-option>
          <el-option label="研究生" value="研究生" ></el-option>
          <el-option label="博士" value="博士" ></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="专业">
        <el-input v-model="form.speciality" />
      </el-form-item>
      <el-form-item label="爱好">
        <el-input v-model="form.hobby" />
      </el-form-item>
      <el-form-item label="备注">
        <el-input v-model="form.remark" />
      </el-form-item>

      <el-form-item>
        <el-button type="primary" @click="onSubmit">添加</el-button>
        <el-button @click="onCancel">重置</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
  import {findAllDept} from '@/api/dept'
  import {findAllJob} from '@/api/job'
  import {saveEmp} from "@/api/employee";

  export default {
    created() {
      this.fetchData()
    },
    data() {
      return {
        deptList:[],
        jobList:[],
        form: {
          address: "",
          birthday: "",
          cardId: "",
          deptId: null,
          education: "",
          email: "",
          hobby: "",
          jobId: null,
          name: "",
          party: "党员",
          phone: "",
          postCode: "",
          qqNum: "",
          race: "",
          remark: "",
          sex: "男",
          speciality: "",
          tel: ""
        },
        formPosition:'left'
      }
    },
    methods: {
      fetchData() {
        findAllDept().then(res=>{
          this.deptList = res.data
        })
        findAllJob().then(res=>{
          this.jobList = res.data
        })
      },
      onSubmit() {
        saveEmp(this.form).then(res=>{
          this.$message({
            message: '添加成功!',
            type: 'success'
          })
          this.onCancel()
        })
      },
      onCancel() {
        this.form = {
          address: "",
          birthday: "",
          cardId: "",
          deptId: null,
          education: "",
          email: "",
          hobby: "",
          jobId: null,
          name: "",
          party: "党员",
          phone: "",
          postCode: "",
          qqNum: "",
          race: "",
          remark: "",
          sex: "男",
          speciality: "",
          tel: ""
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .line{
    text-align: center;
  }

</style>

