<template>
  <div class="app-container">
    <el-form :inline="true" :model="form" class="demo-form-inline">
      <el-form-item label="员工号">
        <el-input v-model="form.id"></el-input>
      </el-form-item>
      <el-form-item label="姓名">
        <el-input v-model="form.name"></el-input>
      </el-form-item>
      <el-form-item label="手机号码">
        <el-input v-model="form.phone"></el-input>
      </el-form-item>
      <el-form-item label="部门">
        <el-select v-model="form.deptId" placeholder="请选择部门">
          <el-option :label="dept.dname" :value="dept.did" v-for="dept in deptList" :key="dept.did"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="职位">
        <el-select v-model="form.jobId" placeholder="请选择职位">
          <el-option :label="job.jname" :value="job.jid" v-for="job in jobList" :key="job.jid"></el-option>
        </el-select>
      </el-form-item>


      <el-form-item>
        <el-button type="primary" @click="onSearch">查询</el-button>
      </el-form-item>
      <el-form-item>
        <el-button type="danger" @click="onDeleted">删除选中</el-button>
      </el-form-item>
    </el-form>


    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
      @selection-change="handleSelectionChange"

    >
      <el-table-column
        type="selection"
        width="55"></el-table-column>
      <el-table-column align="center" label="员工号" width="95">
        <template slot-scope="scope">
          {{ scope.row.id }}
        </template>
      </el-table-column>
      <el-table-column label="姓名">
        <template slot-scope="scope">
          {{ scope.row.name }}
        </template>
      </el-table-column>
      <el-table-column label="部门" width="110" align="center">
        <template slot-scope="scope">
          {{ scope.row.dept.dname }}
        </template>
      </el-table-column>
      <el-table-column label="职位" width="110" align="center">
        <template slot-scope="scope">
          {{ scope.row.job.jname }}
        </template>
      </el-table-column>
      <el-table-column label="银行卡号" width="110" align="center">
        <template slot-scope="scope">
          {{ scope.row.cardId }}
        </template>
      </el-table-column>
      <el-table-column label="邮政编码" width="110" align="center">
        <template slot-scope="scope">
          {{ scope.row.postCode }}
        </template>
      </el-table-column>
      <el-table-column label="地址" width="110" align="center">
        <template slot-scope="scope">
          {{ scope.row.address }}
        </template>
      </el-table-column>
      <el-table-column label="家庭电话" width="110" align="center">
        <template slot-scope="scope">
          {{ scope.row.tel }}
        </template>
      </el-table-column>
      <el-table-column label="手机号码" width="110" align="center">
        <template slot-scope="scope">
          {{ scope.row.phone }}
        </template>
      </el-table-column>
      <el-table-column label="QQ号" width="110" align="center">
        <template slot-scope="scope">
          {{ scope.row.qqNum }}
        </template>
      </el-table-column>
      <el-table-column label="邮箱" width="110" align="center">
        <template slot-scope="scope">
          {{ scope.row.email }}
        </template>
      </el-table-column>
      <el-table-column label="性别" width="110" align="center">
        <template slot-scope="scope">
          {{ scope.row.sex }}
        </template>
      </el-table-column>
      <el-table-column label="政治面貌" width="110" align="center">
        <template slot-scope="scope">
          {{ scope.row.party }}
        </template>
      </el-table-column>
      <el-table-column label="生日" width="110" align="center">
        <template slot-scope="scope">
          {{ scope.row.birthday }}
        </template>
      </el-table-column>
      <el-table-column label="民族" width="110" align="center">
        <template slot-scope="scope">
          {{ scope.row.race }}
        </template>
      </el-table-column>
      <el-table-column label="学历" width="110" align="center">
        <template slot-scope="scope">
          {{ scope.row.education }}
        </template>
      </el-table-column>
      <el-table-column label="特长" width="110" align="center">
        <template slot-scope="scope">
          {{ scope.row.speciality }}
        </template>
      </el-table-column>
      <el-table-column label="爱好" width="110" align="center">
        <template slot-scope="scope">
          {{ scope.row.hobby }}
        </template>
      </el-table-column>

      <el-table-column label="备注" width="110" align="center">
        <template slot-scope="scope">
          {{ scope.row.remark }}
        </template>
      </el-table-column>
      <el-table-column label="创建日期" width="110" align="center">
        <template slot-scope="scope">
          {{ scope.row.createTime }}
        </template>
      </el-table-column>

      <el-table-column
        fixed="right"
        label="操作"
        width="100">
        <template slot-scope="scope">
          <el-button @click="handleDeleteEmp(scope.row)" type="text" size="small">删除</el-button>
          <el-button type="text" size="small" @click="handleEdit(scope.row)">编辑</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-divider></el-divider>

    <el-button :loading="downloadLoading" style="margin:0 0 20px 20px;" type="primary" icon="el-icon-document" @click="handleDownloadPage">
      (前端技术)导出当前页到 Excel
    </el-button>
    <el-button :loading="downloadLoading" style="margin:0 0 20px 20px;" type="info" icon="el-icon-document" @click="handleDownloadByCondition">
      (后端技术)导出当前页到 Excel
    </el-button>
    <el-button :loading="downloadLoading" style="margin:0 0 20px 20px;" type="info" icon="el-icon-document" @click="handleDownloadAll">
      导出所有数据到 Excel
    </el-button>
    <el-divider></el-divider>

    <div class="block">
      <el-row :gutter="20">
        <el-col :span="12" :offset="6">
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="pageNum"
            :page-sizes="[10, 30, 50, 100]"
            :page-size="pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total">
          </el-pagination>
        </el-col>
      </el-row>
    </div>

    <el-dialog title="员工信息" :visible.sync="dialogFormVisible">
      <el-form ref="form" :model="editForm" label-width="120px">
        <el-form-item label="职位">
          <el-select v-model="editForm.jobId" placeholder="请选择职位">
            <el-option :label="job.jname" :value="job.jid" v-for="job in jobList" :key="job.jid"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="部门">
          <el-select v-model="editForm.deptId" placeholder="请选择部门">
            <el-option :label="dept.dname" :value="dept.did" v-for="dept in deptList" :key="dept.did"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="员工号">
          <el-input v-model="editForm.id" :disabled="true"/>
        </el-form-item>
        <el-form-item label="姓名">
          <el-input v-model="editForm.name"/>
        </el-form-item>
        <el-form-item label="银行卡">
          <el-input v-model="editForm.cardId"/>
        </el-form-item>
        <el-form-item label="地址">
          <el-input v-model="editForm.address"/>
        </el-form-item>
        <el-form-item label="邮政编码">
          <el-input v-model="editForm.postCode"/>
        </el-form-item>
        <el-form-item label="手机号码">
          <el-input v-model="editForm.phone"/>
        </el-form-item>
        <el-form-item label="家庭电话">
          <el-input v-model="editForm.tel"/>
        </el-form-item>
        <el-form-item label="QQ号">
          <el-input v-model="editForm.qqNum"/>
        </el-form-item>
        <el-form-item label="邮箱">
          <el-input v-model="editForm.email"/>
        </el-form-item>
        <el-form-item label="性别">
          <el-select v-model="editForm.sex" placeholder="请选择性别">
            <el-option label="女" value="女"></el-option>
            <el-option label="男" value="男"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="政治面貌">
          <el-select v-model="editForm.party" placeholder="请选择政治面貌">
            <el-option label="团员" value="团员"></el-option>
            <el-option label="党员" value="党员"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="出生日期">
          <el-date-picker
            v-model="editForm.birthday"
            type="date"
            placeholder="选择日期">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="民族">
          <el-input v-model="editForm.race"/>
        </el-form-item>
        <el-form-item label="学历">
          <el-select v-model="editForm.education" placeholder="请选择学历">
            <el-option label="初中" value="初中"></el-option>
            <el-option label="高中" value="高中"></el-option>
            <el-option label="本科" value="本科"></el-option>
            <el-option label="研究生" value="研究生"></el-option>
            <el-option label="博士" value="博士"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="专业">
          <el-input v-model="editForm.speciality"/>
        </el-form-item>
        <el-form-item label="爱好">
          <el-input v-model="editForm.hobby"/>
        </el-form-item>
        <el-form-item label="备注">
          <el-input v-model="editForm.remark"/>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onChangeEmpInfo">修改</el-button>
          <el-button @click="dialogFormVisible = false">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>

  </div>
</template>

<script>
  import {findAllEmp, deleteEmpById, editEmp,deleteManyByIdArray,downloadExcel} from '@/api/employee'
  import {findAllDept} from "@/api/dept";
  import {findAllJob} from "@/api/job";
  import {Message} from "element-ui";

  export default {
    data() {
      return {
        downloadLoading: false,
        multipleSelection: [],
        editForm: {
          id: 0,
          address: "",
          birthday: "",
          cardId: "",
          deptId: null,
          education: "",
          email: "",
          hobby: "",
          jobId: null,
          name: "",
          party: "党员",
          phone: "",
          postCode: "",
          qqNum: "",
          race: "",
          remark: "",
          sex: "男",
          speciality: "",
          tel: ""
        },
        dialogFormVisible: false,
        deptList: [],
        jobList: [],
        list: null,
        listLoading: true,
        pageNum: 1,
        pageSize: 10,
        total: 0,
        form: {
          id: '',
          name: '',
          deptId: '',
          jobId: '',
          phone: ''
        }
      }
    },
    created() {
      this.fetchData()
    },
    methods: {
      handleDownloadAll() {
        window.open('http://47.106.237.169:8080/hr_system/employee/downloadExcel?pageNum=1&pageSize=99999',"_blank")
      },
      handleDownloadByCondition() {
        window.open('http://47.106.237.169:8080/hr_system/employee/downloadExcel?pageNum='+this.pageNum+'&pageSize='+ this.pageSize +
          '&deptId='+this.form.deptId+'&jobId='+this.form.jobId+'&id='+this.form.id+'&name='+this.form.name+'&phone='+this.form.phone,"_blank")
      },

      handleDownloadPage() {
        this.downloadLoading = true
        import('@/vendor/Export2Excel').then(excel => {
          const tHeader = ['职位', '部门', '员工号','姓名','银行卡','地址','邮政编码','手机号码','家庭电话',
            'QQ','邮箱','性别','政治面貌','生日','民族','学历','特长','爱好','备注','创建日期']
          const filterVal = ['job', 'dept', 'id','name','cardId','address','postCode','phone','tel',
            'qqNum','email','sex','party','birthday','race','education','speciality','hobby','remark','createTime']
          const list = this.list
          const data = this.formatJson(filterVal, list)
          console.log(data)
          excel.export_json_to_excel({
            header: tHeader,
            data,
            filename: 'data',
            autoWidth: true,
            bookType: 'xlsx'
          })
          this.downloadLoading = false
        })
      },
      formatJson(filterVal, jsonData) {
        return jsonData.map(v => filterVal.map(j => {
          if (j==='job') {
            return v[j].jname
          } else if (j==='dept') {
            return v[j].dname
          } else {
            return v[j]
          }
        }))
      },
      onDeleted() {
        let numberArray=[]
        this.multipleSelection.forEach(value => numberArray.push(value.id) )
        deleteManyByIdArray({idArray:numberArray}).then(res=>{
          Message({
            message: '删除成功！',
            type: 'success',
            duration: 2 * 1000
          })
          this.fetchData()
        })
      },
      handleSelectionChange(val) {
        this.multipleSelection = val;
      },
      handleSizeChange(val) {
        findAllEmp({
          pageNum:this.pageNum,
          pageSize:val,
        }).then(response=>{
          this.list = response.data.list
          this.pageSize = response.data.pageSize
          this.pageNum = response.data.pageNum
          this.total = response.data.total
        })
      },
      handleCurrentChange(val) {
        findAllEmp({
          pageNum:val,
          pageSize:this.pageSize,
        }).then(response=>{
          this.list = response.data.list
          this.pageSize = response.data.pageSize
          this.pageNum = response.data.pageNum
          this.total = response.data.total
        })
      },
      onChangeEmpInfo() {
        editEmp(this.editForm).then(res => {
          this.$message({
            message: '修改成功',
            type: 'success'
          })
          this.dialogFormVisible = false
          this.fetchData()
        })
      },
      handleEdit(row) {
        this.editForm = row
        this.dialogFormVisible = true
        console.log(this.editForm)
      },
      handleDeleteEmp(row) {
        deleteEmpById(row).then(res => {
          this.$message({
            message: '删除成功!',
            type: 'success'
          })
          this.fetchData()
        })
      },
      onSearch() {
        findAllEmp({
          deptId: this.form.deptId,
          jobId: this.form.jobId,
          id: this.form.id,
          name: this.form.name,
          phone: this.form.phone,
          pageNum: this.pageNum, pageSize: this.pageSize
        }).then(response => {
          this.list = response.data.list
          this.pageSize = response.data.pageSize
          this.pageNum = response.data.pageNum
          this.total = response.data.total
          // this.form = {
          //   id: '',
          //   name: '',
          //   deptId: '',
          //   jobId: '',
          //   phone: ''
          // }
        })
      },
      fetchData() {
        this.listLoading = true
        findAllEmp({
          pageNum: this.pageNum, pageSize: this.pageSize
        }).then(response => {
          this.list = response.data.list
          this.pageSize = response.data.pageSize
          this.pageNum = response.data.pageNum
          this.total = response.data.total
          this.listLoading = false
        })
        findAllDept().then(res => {
          this.deptList = res.data
        })
        findAllJob().then(res => {
          this.jobList = res.data
        })
      }
    }
  }
</script>
