<template>
  <div class="app-container">
    <el-form ref="form" :model="form" label-width="120px" :label-position="formPosition">
      <el-form-item label="上传文件">
        <el-upload
        class="upload-demo"
        ref="upload"
        action="http://47.106.237.169:8080/hr_system/file/upload"
        :file-list="fileList"
        :with-credentials="true"
        name="fileList"
        :auto-upload="false">
        <el-button slot="trigger" size="small" type="primary">选取文件</el-button>
        <el-button style="margin-left: 10px;" size="small" type="success" @click="submitUpload">上传到服务器</el-button>
      </el-upload>
      </el-form-item>

    </el-form>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        fileList:[],
        form: {
          name:''
        },
        formPosition:'left'
      }
    },
    methods: {
      submitUpload() {
        this.$refs.upload.submit();
      },
      onSubmit() {
        this.$message('submit!')
      },
      onCancel() {
        this.$message({
          message: 'cancel!',
          type: 'warning'
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
  .line{
    text-align: center;
  }

</style>

