<template>
  <div class="app-container">
    <el-form :inline="true" :model="form" class="demo-form-inline">
      <el-form-item label="上传人">
        <el-input v-model="form.uploadname"></el-input>
      </el-form-item>
      <el-form-item>
      <el-date-picker
        value-format="yyyy-MM-dd HH:mm:ss"
        v-model="form.time"
        type="daterange"
        range-separator="至"
        start-placeholder="开始日期"
        end-placeholder="结束日期">
      </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onSubmit">查询</el-button>
      </el-form-item>
      <el-form-item>
        <el-button type="danger" @click="onDeleted">删除选中</el-button>
      </el-form-item>
    </el-form>


    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
      @selection-change="handleSelectionChange"
    >
      <el-table-column
        type="selection"
        width="55"></el-table-column>
      <el-table-column align="center" label="文件编号" width="95">
        <template slot-scope="scope">
          {{ scope.row.id }}
        </template>
      </el-table-column>
      <el-table-column label="上传人">
        <template slot-scope="scope">
          {{ scope.row.uploadname }}
        </template>
      </el-table-column>

      <el-table-column label="文件名">
        <template slot-scope="scope">
          {{ scope.row.filename }}
        </template>
      </el-table-column>
      <el-table-column label="上传日期">
        <template slot-scope="scope">
          {{ scope.row.uploaddate }}
        </template>
      </el-table-column>
      <el-table-column
        fixed="right"
        label="操作"
        width="100">
        <template slot-scope="scope">
          <el-button @click="handleDelete(scope.row)" type="text" size="small">删除</el-button>
          <el-button type="text" size="small" @click="handleDownload(scope.row)">下载</el-button>
        </template>
      </el-table-column>
    </el-table>


    <el-divider></el-divider>
    <div class="block">
      <el-row :gutter="20">
        <el-col :span="12" :offset="6">
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="pageNum"
            :page-sizes="[10, 30, 50, 100]"
            :page-size="pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total">
          </el-pagination>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
import { deleteById,findAllFile,deleteManyByNumberArray } from "@/api/file";
import {Message} from "element-ui";

export default {
  data() {
    return {
      multipleSelection: [],
      pageSize:10,
      pageNum:1,
      total:0,
      list: null,
      listLoading: true,
      form:{
        time:'',
        uploadname: ''
      }
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    handleSizeChange(val) {
      findAllFile({
        pageNum:this.pageNum,
        pageSize:val,
      }).then(response=>{
        this.list = response.data.list
        this.pageSize = response.data.pageSize
        this.pageNum = response.data.pageNum
        this.total = response.data.total
      })
    },
    handleCurrentChange(val) {
      findAllFile({
        pageNum:val,
        pageSize:this.pageSize,
      }).then(response=>{
        this.list = response.data.list
        this.pageSize = response.data.pageSize
        this.pageNum = response.data.pageNum
        this.total = response.data.total
      })
    },
    onDeleted() {
      let numberArray=[]
      this.multipleSelection.forEach(value => numberArray.push(value.id) )
      deleteManyByNumberArray({idArray:numberArray}).then(res=>{
        Message({
          message: '删除成功！',
          type: 'success',
          duration: 2 * 1000
        })
        this.fetchData()
      })
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    onSubmit() {
      let startTime = this.form.time ? this.form.time[0] : null
      let endTime = this.form.time ? this.form.time[1] : null

      findAllFile({
        uploadname:this.form.uploadname,
        pageSize:this.pageSize,pageNum:this.pageNum,
        startTime:startTime,
        endTime:endTime,
      }).then(response=>{
        this.pageSize = response.data.pageSize
        this.pageNum = response.data.pageNum
        this.total = response.data.total
        this.list = response.data.list
      })
    },
    handleDelete(row) {
      deleteById(row).then(response=>{
        this.$message({
          message:'删除成功',
          type:'success'
        })
        this.fetchData()
      })
    },
    handleDownload(row){
        window.open('http://47.106.237.169:8080/hr_system/file/download?id='+row.id,"_blank")
    },
    fetchData() {
      this.listLoading = true
      findAllFile({
        pageSize:this.pageSize,pageNum:this.pageNum
      }).then(response => {
        this.pageSize = response.data.pageSize
        this.pageNum = response.data.pageNum
        this.total = response.data.total
        this.list = response.data.list
        this.listLoading = false
      })
    }
  }
}
</script>
