<template>
  <div class="app-container">
    <el-form ref="form" :model="form" label-width="120px" :label-position="formPosition">
      <el-form-item label="标题">
        <el-input v-model="form.title"/>
      </el-form-item>
      <el-form-item label="主题">
        <el-input v-model="form.name"/>
      </el-form-item>
      <el-form-item label="备注">
        <el-input v-model="form.remark" />
      </el-form-item>
      <el-form-item label="内容">
        <tinymce  v-model="form.content" ref="edit" ></tinymce>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onSubmit">添加</el-button>
        <el-button @click="onCancel">重置</el-button>
      </el-form-item>
    </el-form>


  </div>
</template>

<script>
  import {save} from '@/api/notice'
  import tinymce from '@/components/Tinymce'
  export default {
    components: { tinymce },
    data() {
      return {
        form: {
          remark:'',
          title: '',
          name: '',
          content: ''
        },
        formPosition:'left'
      }
    },
    methods: {
      onSubmit() {
       save(this.form).then(res=>{
         this.$message({
           message: '添加成功!',
           type: 'success'
         })
         this.onCancel()
       })
      },
      onCancel() {
        this.form = {
          remark:'',
          title: '',
          name: '',
          content: ''
        }
        this.$refs.edit.setContent("")
      }
    }
  }
</script>

<style lang="scss" scoped>
  .line{
    text-align: center;
  }

</style>

