<template>
  <div class="app-container">
    <el-form :inline="true" :model="form" class="demo-form-inline">
      <el-form-item label="标题">
        <el-input v-model="form.name"></el-input>
      </el-form-item>
      <el-form-item label="主题">
        <el-input v-model="form.title"></el-input>
      </el-form-item>
      <el-form-item label="创建者">
        <el-input v-model="form.username"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onSubmit">查询</el-button>
      </el-form-item>
      <el-form-item>
        <el-button type="danger" @click="onDeleted">删除选中</el-button>
      </el-form-item>
    </el-form>


    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
      @selection-change="handleSelectionChange"

    >
      <el-table-column
        type="selection"
        width="55"></el-table-column>
      <el-table-column align="center" label="创建者" width="95">
        <template slot-scope="scope">
          {{ scope.row.username }}
        </template>
      </el-table-column>
      <el-table-column label="标题" width="110">
        <template slot-scope="scope">
          {{ scope.row.name }}
        </template>
      </el-table-column>
      <el-table-column label="主题" align="center">
        <template slot-scope="scope">
          {{ scope.row.title }}
        </template>
      </el-table-column>
      <el-table-column label="备注" width="110" align="center">
        <template slot-scope="scope">
          {{ scope.row.remark }}
        </template>
      </el-table-column>
      <el-table-column
        fixed="right"
        label="操作"
        width="120">
        <template slot-scope="scope">
          <el-button @click="handleDelete(scope.row)" type="text" size="small">删除</el-button>
          <el-button type="text" size="small" @click="handleEdit(scope.row)">编辑</el-button>
          <el-button type="text" size="small" @click="handleLook(scope.row)">查看</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-divider></el-divider>
    <div class="block">
      <el-row :gutter="20">
        <el-col :span="12" :offset="6">
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="pageNum"
            :page-sizes="[10, 30, 50, 100]"
            :page-size="pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total">
          </el-pagination>
        </el-col>
      </el-row>
    </div>


    <el-dialog
      title="公告"
      :visible.sync="dialogLookFormVisible"
      width="30%"
      center>
      <div class="notice">编号：{{editForm.id}}</div>
      <div class="notice">创建者：{{editForm.username}}</div>
      <div class="notice">标题：{{editForm.name}}</div>
      <div class="notice">主题：{{editForm.title}}</div>
      <div class="notice">内容：</div>
      <div class="notice" v-html="editForm.content"></div>
      <div class="notice" style="margin-top: 1rem">备注：{{editForm.remark}}</div>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogLookFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="dialogLookFormVisible = false">确 定</el-button>
      </div>
    </el-dialog>

    <el-dialog title="公告信息" :visible.sync="dialogFormVisible" @opened="openDialog"   >
      <el-form ref="form" :model="editForm" label-width="120px">
        <el-form-item label="编号">
          <el-input v-model="editForm.id" :disabled="true" />
        </el-form-item>
        <el-form-item label="创建者">
          <el-input v-model="editForm.username" :disabled="true" />
        </el-form-item>
        <el-form-item label="标题">
          <el-input v-model="editForm.name" />
        </el-form-item>
        <el-form-item label="主题">
          <el-input v-model="editForm.title"/>
        </el-form-item>
        <el-form-item label="内容">
<!--          <el-input-->
<!--            type="textarea"-->
<!--            :autosize="{ minRows: 5, maxRows: 40}"-->
<!--            v-model="editForm.content">-->
<!--          </el-input>-->
          <tinymce  v-model="editForm.content" ref="edit" ></tinymce>

        </el-form-item>
        <el-form-item label="备注">
          <el-input v-model="editForm.remark"  />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onChangeInfo">修改</el-button>
          <el-button @click="dialogFormVisible = false">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import { findAllByCodition,deleteById,edit,deleteManyByIdArray } from '@/api/notice'
import {Message} from "element-ui";
import tinymce from '@/components/Tinymce'

export default {
  components: { tinymce },
  data() {
    return {
      dialogLookFormVisible: false,
      dialogFormVisible:false,
      multipleSelection:[],
      pageNum:1,
      pageSize:10,
      total:0,
      list: null,
      listLoading: true,
      editForm: {
        "content": "string",
        "id": 0,
        "name": "string",
        "remark": "string",
        "title": "string"
      },
      form:{
        name:'',
        title:'',
        username:''
      }
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    openDialog() {
      this.$refs.edit.setContent(this.editForm.content)
    },
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
      findAllByCodition({
        pageNum:this.pageNum,
        pageSize:val,
      }).then(response=>{
        this.list = response.data.list
        this.pageSize = response.data.pageSize
        this.pageNum = response.data.pageNum
        this.total = response.data.total
      })
    },
    handleCurrentChange(val) {
      console.log(`当前页: ${val}`);
      findAllByCodition({
        pageNum:val,
        pageSize:this.pageSize,
      }).then(response=>{
        this.list = response.data.list
        this.pageSize = response.data.pageSize
        this.pageNum = response.data.pageNum
        this.total = response.data.total
      })
    },
    onDeleted() {
      let numberArray=[]
      this.multipleSelection.forEach(value => numberArray.push(value.id) )
      deleteManyByIdArray({id:numberArray}).then(res=>{
        Message({
          message: '删除成功！',
          type: 'success',
          duration: 2 * 1000
        })
        this.fetchData()
      })
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    onChangeInfo() {
      edit(this.editForm).then(res=>{
        this.$message({
          message:'修改成功',
          type:'success'
        })
        this.dialogFormVisible = false
        this.fetchData()
      })
    },
    handleEdit(row) {
      this.editForm = row
      this.dialogFormVisible = true
    },
    onSubmit() {
      findAllByCodition({
        title:this.form.title,
        name:this.form.name,
        username:this.form.username,
        pageNum:this.pageNum,
        pageSize:this.pageSize
      }).then(response => {
        this.list = response.data.list
        this.pageSize = response.data.pageSize
        this.pageNum = response.data.pageNum
        this.total = response.data.total
        this.listLoading = false
      })
    },
    handleLook(row) {
      this.editForm = row
      this.dialogLookFormVisible = true
    },
    handleDelete(row) {
      deleteById(row).then(res=>{
        this.$message({
          message:'删除成功',
          type:'success'
        })
        this.fetchData()
      })
    },
    fetchData() {
      this.listLoading = true
      findAllByCodition({
        pageNum:this.pageNum,
        pageSize:this.pageSize,
      }).then(response => {
        this.list = response.data.list
        this.pageSize = response.data.pageSize
        this.pageNum = response.data.pageNum
        this.total = response.data.total
        this.listLoading = false
      })
    }
  }
}
</script>
<style>
  .notice img{
    max-width: 100px;
  }
  iframe {
    max-width: 300px;
  }
</style>
