<template>
  <div class="dashboard-container">
    <div class="dashboard-text">欢迎你: {{ name }}</div>
    <div>
    <div style="margin-bottom: 2rem">数据统计</div>
      <el-badge :value="welcome.userTotal" :max="1000" class="item">
        <el-button size="small">用户数</el-button>
      </el-badge>
      <el-badge :value="welcome.employeeTotal" :max="1000" class="item" type="primary">
        <el-button size="small">员工数</el-button>
      </el-badge>
      <el-badge :value="welcome.deptTotal" :max="1000" class="item" type="success ">
        <el-button size="small">部门数</el-button>
      </el-badge>
      <el-badge :value="welcome.jobTotal" :max="1000" class="item" type="warning ">
        <el-button size="small">职位数</el-button>
      </el-badge>
      <el-badge :value="welcome.noticeTotal" :max="1000" class="item" type="info">
        <el-button size="small">公告数</el-button>
      </el-badge>
      <el-badge :value="welcome.fileTotal" :max="1000" class="item" type="primary">
        <el-button size="small">文件数</el-button>
      </el-badge>
    </div>
    <el-divider></el-divider>
    <div>
      <div style="margin-bottom: 2rem">最新公告</div>

      <el-table
        v-loading="listLoading"
        :data="list"
        element-loading-text="Loading"
        border
        fit
        highlight-current-row
      >
        <el-table-column align="center" label="作者" width="95">
          <template slot-scope="scope">
            {{ scope.row.username }}
          </template>
        </el-table-column>
        <el-table-column label="标题">
          <template slot-scope="scope">
            {{ scope.row.name }}
          </template>
        </el-table-column>
        <el-table-column label="主题" align="center">
          <template slot-scope="scope">
            {{ scope.row.title }}
          </template>
        </el-table-column>
        <el-table-column label="备注" width="110" align="center">
          <template slot-scope="scope">
            {{ scope.row.remark }}
          </template>
        </el-table-column>
        <el-table-column
          fixed="right"
          label="操作"
          width="120">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="handleLook(scope.row)">查看</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <el-dialog
      title="公告"
      :visible.sync="dialogLookFormVisible"
      width="30%"
      center>
      <div class="notice">编号：{{editForm.id}}</div>
      <div class="notice">创建者：{{editForm.username}}</div>
      <div class="notice">标题：{{editForm.name}}</div>
      <div class="notice">主题：{{editForm.title}}</div>
      <div class="notice">内容：</div>
      <div class="notice" v-html="editForm.content"></div>
      <div class="notice" style="margin-top: 1rem">备注：{{editForm.remark}}</div>
      <div slot="footer" class="dialog-footer">
    <el-button @click="dialogLookFormVisible = false">取 消</el-button>
    <el-button type="primary" @click="dialogLookFormVisible = false">确 定</el-button>
  </div>
    </el-dialog>

  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import {welcome} from "@/api/user";
import {findAllByCodition} from "@/api/notice";

export default {
  name: 'Dashboard',
  data() {
    return {
      listLoading: false,
      editForm: {
        "content": "string",
        "id": 0,
        "name": "string",
        "remark": "string",
        "title": "string"
      },
      dialogLookFormVisible: false,
      welcome: {},
      list: null
    }
  },
  computed: {
    ...mapGetters([
      'name'
    ])
  },
  created() {
    this.fetchData()
  },
  methods: {
    handleLook(row) {
      this.editForm = row
      this.dialogLookFormVisible = true
    },
    fetchData() {
      welcome().then(res=>{
        this.welcome = res.data
      })
      findAllByCodition({
        pageNum:this.pageNum,
        pageSize:this.pageSize,
      }).then(response => {
        this.list = response.data.list
        this.pageSize = response.data.pageSize
        this.pageNum = response.data.pageNum
        this.total = response.data.total
        this.listLoading = false
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
.item {
  margin-top: 10px;
  margin-right: 40px;
}
  .notice {
    margin-bottom: 1rem;
  }
</style>
