<template>
  <div class="app-container">
    <el-form ref="form" :model="form" label-width="120px" :label-position="formPosition">
      <el-form-item label="职位名称">
        <el-input v-model="form.jname"/>
      </el-form-item>
      <el-form-item label="备注">
        <el-input v-model="form.jremark" />
      </el-form-item>

      <el-form-item>
        <el-button type="primary" @click="onSubmit">添加</el-button>
        <el-button @click="onCancel">重置</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
  import { saveJob } from "@/api/job";

  export default {
    data() {
      return {
        form: {
          jremark:'',
          jname: ''
        },
        formPosition:'left'
      }
    },
    methods: {
      onSubmit() {
        saveJob(this.form).then(res=>{
          this.$message({
            message: '添加成功!',
            type: 'success'
          })
          this.onCancel()
        })
      },
      onCancel() {
        this.form = {
          jremark:'',
          jame: ''
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .line{
    text-align: center;
  }

</style>

