<template>
  <div class="app-container">
    <el-form :inline="true" :model="form" class="demo-form-inline">
      <el-form-item label="职位号">
        <el-input v-model="form.jid"></el-input>
      </el-form-item>
      <el-form-item label="职位名">
        <el-input v-model="form.jname"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onSearch">查询</el-button>
      </el-form-item>
      <el-form-item>
        <el-button type="danger" @click="onDeleted">删除选中</el-button>
      </el-form-item>
    </el-form>


    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
      @selection-change="handleSelectionChange"
    >
      <el-table-column
        type="selection"
        width="55"></el-table-column>
      <el-table-column align="center" label="职位号" width="95">
        <template slot-scope="scope">
          {{ scope.row.jid }}
        </template>
      </el-table-column>
      <el-table-column label="职位名">
        <template slot-scope="scope">
          {{ scope.row.jname }}
        </template>
      </el-table-column>
      <el-table-column label="备注" width="110" align="center">
        <template slot-scope="scope">
          {{ scope.row.jremark }}
        </template>
      </el-table-column>
      <el-table-column
        fixed="right"
        label="操作"
        width="100">
        <template slot-scope="scope">
          <el-button @click="handleDelete(scope.row)" type="text" size="small">删除</el-button>
          <el-button type="text" size="small" @click="handleEdit(scope.row)">编辑</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-divider></el-divider>
    <div class="block">
      <el-row :gutter="20">
        <el-col :span="12" :offset="6">
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="pageNum"
            :page-sizes="[10, 30, 50, 100]"
            :page-size="pageSize"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total">
          </el-pagination>
        </el-col>
      </el-row>
    </div>

    <el-dialog title="个人信息" :visible.sync="dialogFormVisible" >
      <el-form ref="form" :model="editForm" label-width="120px">
        <el-form-item label="职位号">
          <el-input v-model="editForm.jid" :disabled="true" />
        </el-form-item>
        <el-form-item label="职位名">
          <el-input v-model="editForm.jname"  />
        </el-form-item>
        <el-form-item label="备注">
          <el-input v-model="editForm.jremark" />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onChangeJobInfo">修改</el-button>
          <el-button @click="dialogFormVisible = false">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import { findAllJobByCondition,deleteById,editJob,deleteManyByIdArray} from "@/api/job";
import {Message} from "element-ui";

export default {
  data() {
    return {
      editForm: {
        jid: '',
        jname: '',
        jremark: ''
      },
      multipleSelection: [],
      dialogFormVisible: false,
      pageSize:10,
      pageNum:1,
      total:0,
      list: null,
      listLoading: true,
      form:{
        jid:'',
        jname:''
      }
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    onDeleted() {
      let numberArray=[]
      this.multipleSelection.forEach(value => numberArray.push(value.jid) )
      deleteManyByIdArray({jid:numberArray}).then(res=>{
        Message({
          message: '删除成功！',
          type: 'success',
          duration: 2 * 1000
        })
        this.fetchData()
      })
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    onChangeJobInfo() {
      editJob(this.editForm).then(res=>{
        this.$message({
          message:'修改成功',
          type:'success'
        })
        this.fetchData()
        this.dialogFormVisible = false
      })
    },
    handleEdit(row) {
      this.editForm = row
      this.dialogFormVisible = true
    },
    onSearch() {
      findAllJobByCondition({
        pageSize:this.pageSize,pageNum:this.pageNum,
        jname:this.form.jname,jid:this.form.jid
      }).then(response=>{
        this.pageSize = response.data.pageSize
        this.list = response.data.list
        this.pageNum = response.data.pageNum
        this.total = response.data.total
      })
    },
    handleDelete(row) {
      deleteById(row).then(res=>{
        this.$message({
          message:'删除成功',
          type:'success'
        })
        this.fetchData()
      })
    },
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
      findAllJobByCondition({
        pageNum:this.pageNum,
        pageSize:val,
      }).then(response=>{
        this.list = response.data.list
        this.pageSize = response.data.pageSize
        this.pageNum = response.data.pageNum
        this.total = response.data.total
      })
    },
    handleCurrentChange(val) {
      console.log(`当前页: ${val}`);
      findAllJobByCondition({
        pageNum:val,
        pageSize:this.pageSize,
      }).then(response=>{
        this.list = response.data.list
        this.pageSize = response.data.pageSize
        this.pageNum = response.data.pageNum
        this.total = response.data.total
      })
    },
    fetchData() {
      this.listLoading = true
      findAllJobByCondition({pageSize:this.pageSize,pageNum:this.pageNum}).then(response => {
        this.pageSize = response.data.pageSize
        this.list = response.data.list
        this.pageNum = response.data.pageNum
        this.total = response.data.total
        this.listLoading = false
      })
    }
  }
}
</script>
