<template>
  <div class="app-container">
    <el-form ref="form" :model="form" label-width="120px">
      <el-form-item label="用户名称">
        <el-input v-model="form.username" placeholder="请输入用户名称" />
      </el-form-item>
      <el-form-item prop="password" label="密码">
        <el-input
          :key="passwordType"
          ref="password"
          v-model="form.password"
          :type="passwordType"
          placeholder="请输入密码"
          name="password"
          tabindex="2"
          auto-complete="on"
        />
        <span class="show-pwd" @click="showPwd">
          <svg-icon :icon-class="passwordType === 'password' ? 'eye' : 'eye-open'" />
        </span>
      </el-form-item>


      <el-form-item prop="phone" label="手机号">
        <el-input
          ref="phone"
          v-model="form.phone"
          placeholder="请输入手机号"
          name="phone"
          type="text"
          tabindex="1"
          auto-complete="on"
        />
      </el-form-item>



      <el-form-item label="角色">
        <el-select v-model="form.roleId" placeholder="请选择角色">
          <el-option :label="role.rname" :value="role.rid" v-for="role in roleList" :key="role.rid"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="备注">
        <el-input v-model="form.remark" />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onSubmit">添加</el-button>
        <el-button @click="onCancel">重置</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
  import { addUser} from "@/api/user";
  import {findAllRole} from "@/api/role";

  export default {
    created() {
      findAllRole().then(res=>{
        const { data } = res
        this.roleList = data
        this.form.roleId = data[0].rid
        console.log(this.roleList)
      })
    },
    data() {
      return {
        roleList:[],
        passwordType:'password',
        form: {
          password: '',
          username: '',
          remark: '',
          roleId: '',
          phone: ''
        }
      }
    },
    methods: {
      onSubmit() {
        addUser(this.form).then(res=>{
          this.$message({
            message:'添加成功',
            type:'success'
          })
          this.onCancel()
        })
      },
      onCancel() {
        this.form={
          password: '',
          username: '',
          remark: '',
          roleId: '',
          phone: ''
        }
      },
      showPwd() {
        if (this.passwordType === 'password') {
          this.passwordType = ''
        } else {
          this.passwordType = 'password'
        }
        this.$nextTick(() => {
          this.$refs.password.focus()
        })
      },
      // handleRegister() {
      //   this.$refs.registerForm.validate(valid => {
      //     if (valid) {
      //       this.loading = true
      //       this.$store.dispatch('user/register', this.form).then(() => {
      //         this.$router.push({ path: this.redirect || '/' })
      //         this.loading = false
      //       }).catch(() => {
      //         this.loading = false
      //       })
      //     } else {
      //       console.log('error submit!!')
      //       return false
      //     }
      //   })
      // }
    }
  }
</script>

<style lang="scss" scoped>
  $dark_gray:#889aa4;
  .line{
    text-align: center;
  }
  .show-pwd {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 16px;
    color: $dark_gray;
    cursor: pointer;
    user-select: none;
  }
</style>

