<template>
  <div class="app-container">
    <el-form :inline="true" :model="form" class="demo-form-inline">
      <el-form-item label="账号">
        <el-input v-model="form.number"></el-input>
      </el-form-item>
      <el-form-item label="姓名">
        <el-input v-model="form.username"></el-input>
      </el-form-item>
      <el-form-item label="手机号">
        <el-input v-model="form.phone"></el-input>
      </el-form-item>
      <el-form-item label="角色">
        <el-select v-model="form.roleId" placeholder="请选择角色">
          <el-option :label="role.rname" :value="role.rid" v-for="role in roleList" :key="role.rid"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onSubmit">查询</el-button>
      </el-form-item>
      <el-form-item>
        <el-button type="danger" @click="onDeleted">删除选中</el-button>
      </el-form-item>
    </el-form>


    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
      @selection-change="handleSelectionChange"
    >
      <el-table-column
        type="selection"
        width="55"></el-table-column>
      <el-table-column align="center" label="账号" >
        <template slot-scope="scope">
          {{ scope.row.number }}
        </template>
      </el-table-column>
      <el-table-column label="昵称" width="110">
        <template slot-scope="scope">
          {{ scope.row.username }}
        </template>
      </el-table-column>
      <el-table-column label="密码" width="110" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.password }}</span>
        </template>
      </el-table-column>
      <el-table-column label="手机号" width="110" align="center">
        <template slot-scope="scope">
          {{ scope.row.phone }}
        </template>
      </el-table-column>
      <el-table-column label="角色" width="110" align="center">
        <template slot-scope="scope">
          {{ scope.row.role.rname }}
        </template>
      </el-table-column>
      <el-table-column align="center" prop="created_at" label="注册时间" width="200">
        <template slot-scope="scope">
          <i class="el-icon-time" />
          <span>{{ scope.row.createdate }}</span>
        </template>
      </el-table-column>
      <el-table-column label="备注" width="110" align="center">
        <template slot-scope="scope">
          {{ scope.row.remark }}
        </template>
      </el-table-column>
      <el-table-column
        fixed="right"
        label="操作"
        width="100">
        <template slot-scope="scope">
          <el-button @click="handleDeleteClick(scope.row)" type="text" size="small">删除</el-button>
          <el-button type="text" size="small" @click="handleEditClick(scope.row)" >编辑</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-divider></el-divider>
    <el-button  style="margin:0 0 20px 20px;" type="info" icon="el-icon-document" @click="handleDownloadByCondition">
      导出当前页到 Excel
    </el-button>
    <el-button style="margin:0 0 20px 20px;" type="info" icon="el-icon-document" @click="handleDownloadAll">
      导出所有数据到 Excel
    </el-button>
    <el-divider></el-divider>
    <div class="block">
      <el-row :gutter="20">
        <el-col :span="12" :offset="6"><el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="pageNum"
          :page-sizes="[10, 20, 30, 40]"
          :page-size="pageSize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="total">
        </el-pagination></el-col>
      </el-row>

    </div>


    <el-dialog title="个人信息" :visible.sync="dialogFormVisible" >
      <el-form ref="form" :model="editForm" label-width="120px">
        <el-form-item label="用户编号">
          <el-input v-model="editForm.number" placeholder="请输入用户编号" :disabled="true" />
        </el-form-item>
        <el-form-item label="用户名称">
          <el-input v-model="editForm.username" :disabled="true" />
        </el-form-item>
        <el-form-item prop="password" label="密码">
          <el-input
            :key="passwordType"
            ref="password"
            v-model="editForm.password"
            :type="passwordType"
            placeholder="请输入密码"
            name="password"
            tabindex="2"
            auto-complete="on"
          />
          <span class="show-pwd" @click="showPwd">
          <svg-icon :icon-class="passwordType === 'password' ? 'eye' : 'eye-open'" />
        </span>
        </el-form-item>

        <el-form-item prop="phone" label="手机号">
          <el-input
            ref="phone"
            v-model="editForm.phone"
            placeholder="请输入手机号"
            name="phone"
            type="text"
            tabindex="1"
            auto-complete="on"
          />
        </el-form-item>



        <el-form-item label="角色">
          <el-select v-model="editForm.roleId" placeholder="请选择角色">
            <el-option :label="role.rname" :value="role.rid" v-for="role in roleList" :key="role.rid"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="备注">
          <el-input v-model="editForm.remark" />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onChangeUserInfo">修改</el-button>
          <el-button @click="dialogFormVisible = false">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import { getUserList,deleteUserList,deleteUserOne,editUserInfo } from "@/api/user";
import {findAllRole} from "@/api/role";
import {Message} from "element-ui";

export default {
  data() {
    return {
      passwordType:'',
      editForm:{
        "number": "string",
        "password": "string",
        "phone": "string",
        "remark": "string",
        "roleId": 0,
        "username": "string"
      },
      dialogFormVisible:false,
      multipleSelection: [],
      roleList:[],
      list: null,
      listLoading: true,
      pageNum: 1,
      pageSize: 10,
      size: 10,
      startRow: 1,
      endRow: 10,
      total: 12,
      pages: 2,
      form: {
        "number": '',
        "phone": '',
        "roleId":'',
        "username":''
      }
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    handleDownloadAll() {
      window.open('http://47.106.237.169:8080/hr_system/user/downloadExcel?pageNum=1&pageSize=99999',"_blank")
    },
    handleDownloadByCondition() {
      window.open('http://47.106.237.169:8080/hr_system/user/downloadExcel?pageNum='+this.pageNum+'&pageSize='+ this.pageSize +
        '&number='+this.form.number+'&phone='+this.form.phone+'&roleId='+this.form.roleId+'&username='+this.form.username,"_blank")
    },
    onChangeUserInfo(){
      editUserInfo(this.editForm).then(res=>{
        Message({
          message: '修改成功！',
          type: 'success',
          duration: 2 * 1000
        })
        this.dialogFormVisible = false
        this.fetchData()
      })
    },
    showPwd() {
      if (this.passwordType === 'password') {
        this.passwordType = ''
      } else {
        this.passwordType = 'password'
      }
      this.$nextTick(() => {
        this.$refs.password.focus()
      })
    },
    handleEditClick(row) {
      this.editForm = row
      this.editForm.roleId = row.role.rid
      console.log(this.editForm)
      console.log("this.editForm")
      this.dialogFormVisible=true;
    },
    handleDeleteClick(row) {
      console.log(row.number)
      deleteUserOne(row.number).then(res=>{
        Message({
          message: '删除成功！',
          type: 'success',
          duration: 2 * 1000
        })
        this.fetchData()
      })
    },
    onSubmit() {
      this.listLoading=true
      console.log(this.form)
      getUserList({number:this.form.number,
        pageNum:this.pageNum,
        pageSize:this.pageSize,
        phone:this.form.phone,
        roleId:this.form.roleId,
        username:this.form.username
      }).then(response => {
        const { data } = response
        this.list = data.list
        this.pageNum = data.pageNum
        this.pageSize = data.pageSize
        this.size = data.size
        this.startRow = data.startRow
        this.endRow = data.endRow
        this.total = data.total
        this.pages = data.pages
        this.listLoading = false
      })
    },
    onDeleted() {
      let numberArray=[]
      this.multipleSelection.forEach(value => numberArray.push(value.number) )
      deleteUserList(numberArray).then(res=>{
        Message({
          message: '删除成功！',
          type: 'success',
          duration: 2 * 1000
        })
        this.fetchData()
      })
    },
    handleSelectionChange(val) {
      this.multipleSelection = val;
      console.log(this.multipleSelection)
    },
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
      this.listLoading=true
      getUserList({pageNum:this.pageNum,pageSize:val}).then(response => {
        const { data } = response
        this.list = data.list
        this.pageNum = data.pageNum
        this.pageSize = data.pageSize
        this.size = data.size
        this.startRow = data.startRow
        this.endRow = data.endRow
        this.total = data.total
        this.pages = data.pages
        this.listLoading = false
      })
    },
    handleCurrentChange(val) {
      this.listLoading=true
      console.log(`当前页: ${val}`);
      getUserList({pageNum:val,pageSize:this.pageSize}).then(response => {
        const { data } = response
        this.list = data.list
        this.pageNum = data.pageNum
        this.pageSize = data.pageSize
        this.size = data.size
        this.startRow = data.startRow
        this.endRow = data.endRow
        this.total = data.total
        this.pages = data.pages
        this.listLoading = false
      })
    },
    fetchData() {
      this.listLoading = true
      getUserList({pageNum:1,pageSize:10}).then(response => {
        const { data } = response
        this.list = data.list
        this.pageNum = data.pageNum
        this.pageSize = data.pageSize
        this.size = data.size
        this.startRow = data.startRow
        this.endRow = data.endRow
        this.total = data.total
        this.pages = data.pages
        this.listLoading = false
      })
      findAllRole().then(res=>{
        const { data } = res
        this.roleList = data
        console.log(this.roleList)
      })
    }
  }
}
</script>
<style>
  .show-pwd {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 16px;
    color: #889aa4;
    cursor: pointer;
    user-select: none;
  }
  .svg-icon {
    vertical-align: 0.15em;
  }
</style>
