<template>
  <div class="app-container">
    <el-form :inline="true" :model="form" class="demo-form-inline">
      <el-form-item label="角色号">
        <el-input v-model="form.rid"></el-input>
      </el-form-item>
      <el-form-item label="角色名">
        <el-input v-model="form.rname"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="onSearch">查询</el-button>
      </el-form-item>
      <el-form-item>
        <el-button type="danger" @click="onDeleted">删除选中</el-button>
      </el-form-item>
    </el-form>


    <el-table
      v-loading="listLoading"
      :data="list"
      element-loading-text="Loading"
      border
      fit
      highlight-current-row
      @selection-change="handleSelectionChange"
    >
      <el-table-column
        type="selection"
        width="55"></el-table-column>
      <el-table-column align="center" label="角色号" width="95">
        <template slot-scope="scope">
          {{ scope.row.rid }}
        </template>
      </el-table-column>
      <el-table-column label="角色名">
        <template slot-scope="scope">
          {{ scope.row.rname }}
        </template>
      </el-table-column>
      <el-table-column label="备注" width="110" align="center">
        <template slot-scope="scope">
          {{ scope.row.rremark }}
        </template>
      </el-table-column>
      <el-table-column
        fixed="right"
        label="操作"
        width="100">
        <template slot-scope="scope">
          <el-button @click="handleDeletedOne(scope.row)" type="text" size="small">删除</el-button>
          <el-button type="text" size="small" @click="handleEditOne(scope.row)">编辑</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-divider></el-divider>
    <div class="block">
      <el-row :gutter="20">
        <el-col :span="12" :offset="6">
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="pageNum"
      :page-sizes="[10, 30, 50, 100]"
      :page-size="pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="total">
    </el-pagination>
        </el-col>
      </el-row>
    </div>

    <el-dialog title="角色信息" :visible.sync="dialogFormVisible" >
      <el-form ref="form" :model="editForm" label-width="120px">
        <el-form-item label="角色号">
          <el-input v-model="editForm.rid" :disabled="true" />
        </el-form-item>
        <el-form-item label="角色名">
          <el-input v-model="editForm.rname" placeholder="请输入角色名" />
        </el-form-item>
        <el-form-item label="备注">
          <el-input v-model="editForm.rremark" />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="onChangeRoleInfo">修改</el-button>
          <el-button @click="dialogFormVisible = false">取消</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>

  </div>
</template>

<script>
import { findAllRoleByCondition,deleteOneRole,editRole,deleteRoleList } from '@/api/role'
import {Message} from "element-ui";

export default {
  data() {
    return {
      editForm:{
        "rid": 0,
        "rname": "string",
        "rremark": "string"
      },
      dialogFormVisible:false,
      multipleSelection:[],
      pageNum:1,
      pageSize:10,
      total:0,
      rid:null,
      rname:'',
      list: [],
      listLoading: true,
      form:{
        rid:'',
        rname:''
      }
    }
  },
  created() {
    this.fetchData()
  },
  methods: {
    handleSelectionChange(val) {
      this.multipleSelection = val;
    },
    onDeleted() {
      let numberArray=[]
      this.multipleSelection.forEach(value => numberArray.push(value.rid) )
      deleteRoleList(numberArray).then(res=>{
        Message({
          message: '删除成功！',
          type: 'success',
          duration: 2 * 1000
        })
        this.fetchData()
      })
    },
    onChangeRoleInfo() {
      editRole(this.editForm).then(res=>{
        this.$message({
          message:'修改成功',
          type:'success'
        })
        this.dialogFormVisible=false
        this.fetchData()
      })
    },
    handleEditOne(row){
      console.log(row)
      this.editForm = row
      this.dialogFormVisible=true
    },
    onSearch() {
      findAllRoleByCondition({
        pageNum:this.pageNum,
        pageSize:this.pageSize,
        rid:this.form.rid,
        rname:this.form.rname,
      }).then(response=>{
        this.list = response.data.list
        this.pageSize = response.data.pageSize
        this.pageNum = response.data.pageNum
        this.total = response.data.total
      })
    },
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
      findAllRoleByCondition({
        pageNum:this.pageNum,
        pageSize:val,
      }).then(response=>{
        this.list = response.data.list
        this.pageSize = response.data.pageSize
        this.pageNum = response.data.pageNum
        this.total = response.data.total
      })
    },
    handleCurrentChange(val) {
      console.log(`当前页: ${val}`);
      findAllRoleByCondition({
        pageNum:val,
        pageSize:this.pageSize,
      }).then(response=>{
        this.list = response.data.list
        this.pageSize = response.data.pageSize
        this.pageNum = response.data.pageNum
        this.total = response.data.total
      })
    },
    handleDeletedOne(row){
      deleteOneRole({rid:row.rid}).then(res=>{
        this.$message({
          message:'删除成功',
          type:'success'
        })
        this.fetchData()
      })
    },
    fetchData() {
      this.listLoading = true
      findAllRoleByCondition({pageNum:this.pageNum,
        pageSize:this.pageSize,
        rid:this.rid,
        rname:this.rname
      }).then(response => {
        this.list = response.data.list
        this.pageSize = response.data.pageSize
        this.pageNum = response.data.pageNum
        this.total = response.data.total
        this.listLoading = false
      })
    }
  }
}
</script>
